<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\ContinuationMonad.Tests\packages.config" />
  <repository path="..\src\Factorials.Tests\packages.config" />
  <repository path="..\src\Factorials\packages.config" />
  <repository path="..\src\Fibonacci.Tests\packages.config" />
  <repository path="..\src\Fibonacci\packages.config" />
</repositories>